<section class='index-page'>
  <img
    class='avatar'
    src={{loggedUser.img}}
    alt=''
    style='width: 7rem; height: 7rem; border-radius: 50%; box-shadow: 0 0 10px 10px rgba(0,0,0,0.1); object-fit: cover;'
  />
  <h2>Hello, {{loggedUser.userName}}</h2>
  <a href='/auth/logout'>Log out</a>
</section>